tmp/*
log/*
.dockerignore
.gitignore
.fcrepo_wrapper
.git
.idea
.solr_wrapper
.solr_wrapper.yml
env.*
docker-compose.yml
hostfs
jetty
spec
solr
test
data/solr_query
scripts/helpers
scripts/docker
public/assets
public/system
public/uploads
