<div class="row">
  <div class="col-sm-8 col-sm-offset-2 panel well">
    <h1>Single Use Link Expired or Not Found</h1>
    <p>
    <%= application_name %> could not locate the single use link.
    This link either expired, was deleted or had been used previously. We apologize
    for the inconvenience. If you are looking for UVA Open Scholarship, please visit <a href='//search.lib.virginia.edu/catalog?catalog_select=catalog&commit=Search&f%5Bsource_facet%5D%5B%5D=Libra+Repository'>Virgo.</a>
    </p>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
