<div class="form-inline">
  <%# Limit Embargo to private %>
  <%= f.input :visibility_during_embargo, wrapper: :inline, collection: [visibility_options(:restrict).first], include_blank: false %>
  <span class="form-group inline">
    until this date
    <%= f.date_field :embargo_release_date, wrapper: :inline, value: f.object.embargo_release_date.to_date || Date.tomorrow, class: 'datepicker form-control' %>
  </span>
  <%= f.input :visibility_after_embargo, wrapper: :inline, collection: visibility_options(:loosen), include_blank: false %>
</div>
