<div class="modal fade" id="orcidSearch" tabindex="-1" role="dialog" aria-labelledby="orcidModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">ORCID Search</h4>
      </div>
      <div class="modal-body">
        <%= form_for :orcid_search, url: Rails.application.routes.url_helpers.orcid_search_path, method: :get,
          html: {class: 'form-inline', id: 'orcid-search-form'} do |f| %>
            <%= f.text_field :value, class: 'form-control' %>
            <%= f.submit "Search", class: 'btn btn-primary', id: 'orcidSearchSubmit' %>
        <%end%>

        <div class="row">
          <div class="col-xs-12">
            <div id='orcid-results-container'>
              <p>
              Type your name above to get started.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

