      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#activity_log" ><i class="glyphicon glyphicon-calendar"></i> <%= I18n.t('sufia.user_profile.tab_activity') %></a></li>
        <% if Toggles.expose_highlights %>
        <li><a href="#contributions"><i class="glyphicon glyphicon-star"></i> <%= I18n.t('sufia.user_profile.tab_highlighted') %></a></li>
        <% end %>
      </ul>
       
      <div class="tab-content">
        <% if Toggles.expose_highlights %>
        <%= render 'contributions', presenter: presenter %>
        <% end %>
        <%= render 'activity', presenter: presenter %>
      </div> <!-- /tab-content -->
