<table class="datatable audits table table-striped table-bordered">

  <thead>
     <%= render 'header' %>
  </thead>

  <tbody>
    <% @audits.each do |rec| %>
      <%= render 'audit', audit: rec %>
    <% end %>
  </tbody>

  <tfoot>
     <%= render 'header' %>
  </tfoot>

</table>