<table class="audits-table table table-striped table-bordered">

  <thead>
     <%= render 'header' %>
  </thead>

  <tbody>
    <% @audits.each do |rec| %>
      <%= render 'audit', audit: rec %>
    <% end %>
  </tbody>

  <tfoot>
     <%= render 'header' %>
  </tfoot>

</table>

<script>
  // configure the datatable explicitly instead of relying on the default initialization
  $('.audits-table').DataTable({
      "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
      "aaSorting": [ [ 0, "desc" ] ]
  });

</script>