.edit_libra_work, .new_libra_work {
  .input-group .person-input {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
  }
  .btn.btn-danger.remove {
    color: white;
  }
  .btn.btn-link.add {
    display: none;
  }

  aside.form-progress .incomplete.caution::before {
    content: "\e107";
    color: orange;
  }
}
