.edit_libra_work, .new_libra_work {
  .input-group .person-input {
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 10px;
  }
  .btn.btn-danger.remove {
    color: white;
  }
  .btn.btn-link.add {
    display: none;
  }

  aside.form-progress .incomplete.caution::before {
    content: "\e107";
    color: orange;
  }

  .visibility {
    .radio {
      padding-bottom: 5px;
      border-bottom: 1px solid #ddd;
    }
    .radio.disabled {
      .label {
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
  }


}
