//
// libra-oc style customizations
//

// make the turbolinks loading bar orange and bigger
.turbolinks-progress-bar {
  height: 8px;
  background: #f59a3a;
}

// add a table of existing files to the edit form
#file-existing {
  padding-top: 15px;
  .uploaded-files {
    margin-top: 15px;
    .thumbnail {
      width: 150px;
    }
  }
}

// style form fields that are incomplete
.invalid-input {
  border-color: #d9534f !important;
  background-color: rgba(217, 83, 79, 0.05) !important;
}

.create-work-btn {
  margin-bottom: 21px;
  .glyphicon.glyphicon-open-file {
  }
}

// Hide download button below thumbnail on show page
img.representative-media + a.btn {
  display: none;
}

.document.blacklight-librawork span {
  font-size: 14px;
  margin-top: 10px;
}

// admin button on the main masthead
.admin-button {
  z-index: 1001;
  margin-top: 7px;
}

.libra_work_padded_heading {
  padding-left: 45px !important;
}

form .help-block {
  font-style: italic;
  color: #aaaaaa;
}

#fixedSaveWidget.affix {
  right: 30px;
}
@media(max-width:767px){
  #fixedSaveWidget.affix {
    position: relative;
    right: inherit;
  }
}
//
// end of file
//
