<div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9">
  <% if can_download_files?( @work ) %>
    <h2>Files</h2>
    <div id="uploads">
      <% @work.file_sets.each do |file| %>
        <div class="file_asset_record">
          <p><%= link_to file.title.first, download_path(file), data: { turbolinks: false } %></p>
          <p><span class="file_label">Uploaded:</span><%= date_formatter(file.date_uploaded) %></p>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
