<div id="sidebar" class="col-xs-12 col-sm-3 col-sm-pull-9">
  <h2>Files</h2>
    <div id="uploads">
      <% @work.files.each { |file| %>
        <div class="file_asset_record">
          <p><%= link_to(file[:title], "#{file[:location]}?filename=#{file[:title]}") %></p>
          <p><span class="file_label">Uploaded:</span><%= file_date_created(file[:date]) %></p>
        </div>
      <% } %>

    </div>
</div>
